<% if flash.any? %>
  <script>
    alert("<%= j flash.map { |type, msg| msg }.join('\n') %>");
  </script>
<% end %>

<% if user_signed_in? %>
  <%= link_to current_user.email, edit_user_registration_path %>
  |
  <%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete } %>
<% else %>
  <%= link_to "Log in", new_user_session_path %>
  |
  <%= link_to "Register", new_user_registration_path %>
<% end %>

<h1>Products</h1>

<% if user_signed_in? %>
  <%= link_to "New product", new_product_path %>
<% end %>

<div id="products">
  <% @products.each do |product| %>
    <div>
        <%= link_to product.name, product_path(product.id) %>
    </div>
  <% end %>
</div>


<% debug @products %>
<%# ============================== %>
<% debug @product %>

