<%= image_tag @product.featured_image, style: "max-width: 95vw; max-height: 95vh; object-fit: contain;" if @product.featured_image.attached? %>

<h1><%= @product.name %></h1>
<%= @product.description %>
<p>Créé par : <%= @product.productable.email %></p>

<%= link_to "Back", products_path %>
<%= link_to "Edit", edit_product_path(@product) %>
<%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure?" } %>